/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.topnav {
  display: flex;
  flex-wrap: wrap;
  color: #CAA767;
  justify-content: space-between;
  background-color: #213159;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  .topnav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}
@media ( max-width: 500px ) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}
@media ( max-width:400px ) {
  .topnav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.topnav .toplogo {
  width: 20rem;
  padding: 0% 1%;
  justify-content: flex-end;
  text-align: center;
  margin-left: 50px;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  .topnav .toplogo {
    margin-left: 0px;
    justify-content: flex-start;
    font-size: 5rem;
  }
}
@media ( max-width: 500px ) {
  .topnav .toplogo {
    text-align: center;
    padding: 0px;
    width: 100%;
    justify-content: center;
  }
}
@media ( max-width:400px ) {
  .topnav .toplogo {
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
.topnav .links2 {
  width: 60rem;
  align-content: center;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:1000px ) {
  .topnav .links2 {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media ( max-width:800px ) {
  .topnav .links2 {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
}
@media ( max-width: 500px ) {
  .topnav .links2 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media ( max-width:400px ) {
  .topnav .links2 {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.topnav .links2 a {
  text-decoration: none;
  color: white;
  padding: 0% 4%;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.topnav .links2 a:hover {
  color: #CAA767;
  border-top: 1px dashed #CAA767;
  border-bottom: 1px dashed #CAA767;
}
@media ( max-width:400px ) {
  .topnav .links2 a {
    justify-content: center;
    width: 25%;
    align-items: center;
    margin-top: 1.5rem;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  color: #CAA767;
  justify-content: space-between;
  background-color: #213159;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}
@media ( max-width: 500px ) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}
@media ( max-width:400px ) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
footer .footlogo {
  width: 20rem;
  padding: 0% 1%;
  justify-content: flex-end;
  text-align: center;
  margin-left: 50px;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  footer .footlogo {
    margin-left: 0px;
    justify-content: flex-start;
    font-size: 5rem;
  }
}
@media ( max-width: 500px ) {
  footer .footlogo {
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 0px;
  }
}
@media ( max-width:400px ) {
  footer .footlogo {
    text-align: center;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
footer .links {
  width: 60rem;
  align-content: center;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:1000px ) {
  footer .links {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media ( max-width:800px ) {
  footer .links {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
}
@media ( max-width: 500px ) {
  footer .links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media ( max-width:400px ) {
  footer .links {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
footer .links a {
  text-decoration: none;
  color: white;
  padding: 0% 4%;
  cursor: pointer;
  margin: 0.5rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
footer .links a:hover {
  color: #CAA767;
  border-top: 1px dashed #CAA767;
  border-bottom: 1px dashed #CAA767;
}
@media ( max-width:400px ) {
  footer .links a {
    justify-content: center;
    width: 25%;
    align-items: center;
    margin-top: 1.5rem;
  }
}
html {
  font-size: 62.5%;
}
#navandheader {
  background-color: #213159;
  background-image: linear-gradient(180deg, #213159 12%, #8ec5fc 50%, #caa767 100%);
  margin-bottom: 2%;
}
@media ( max-width: 500px ) {
  #navandheader {
    margin-bottom: 5%;
  }
}
#navandheader .droomit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#navandheader .droomit h1 {
  font-size: 5.5rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  margin-bottom: 4rem;
}
@media ( max-width: 500px ) {
  #navandheader .droomit h1 {
    width: 100%;
  }
}
#navandheader .droomit .logoimg {
  width: 30%;
  padding: 6rem 6rem;
  border-radius: 13rem;
}
@media ( max-width: 500px ) {
  #navandheader .droomit .logoimg {
    width: 40%;
  }
}
#navandheader .droomit .letsgo {
  padding: 1rem 10rem;
  border: none;
  border-radius: 5rem;
  background: #213159;
  margin-left: 5rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  color: #CAA767;
  margin-left: 10rem;
}
#navandheader .droomit .letsgo:hover {
  color: #213159;
  background-color: #CAA767;
  cursor: pointer;
}
@media ( max-width:1000px ) {
  #navandheader .droomit .letsgo {
    margin-left: 4rem;
  }
}
@media ( max-width:800px ) {
  #navandheader .droomit .letsgo {
    padding: 1rem 5rem;
  }
}
@media ( max-width: 500px ) {
  #navandheader .droomit .letsgo {
    margin-left: 10rem;
  }
}
@media ( max-width:400px ) {
  #navandheader .droomit .letsgo {
    margin-left: 5rem;
  }
}
#navandheader .droomit .h1andbutton {
  width: 40%;
  margin: 5rem;
  justify-content: center;
}
@media ( max-width: 500px ) {
  #navandheader .droomit .h1andbutton {
    width: 100%;
  }
}
.section-one {
  background-color: #8EC5FC;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
}
@media ( max-width:800px ) {
  .section-one {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }
}
@media ( max-width:400px ) {
  .section-one {
    margin-bottom: 10%;
  }
}
.section-one .what {
  font-size: 6rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:400px ) {
  .section-one .what {
    font-size: 5rem;
  }
}
.section-one .one-text {
  width: 40%;
  text-align: center;
  padding: 4%;
  line-height: 1.5;
  color: #213159;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  .section-one .one-text {
    width: 90%;
    margin: 20px;
  }
}
@media ( max-width: 500px ) {
  .section-one .one-text {
    margin: 0px;
  }
}
@media ( max-width:400px ) {
  .section-one .one-text {
    font-size: 3rem;
    padding: 0px;
  }
}
.section-one .section-one-image {
  width: 30%;
  order: -1;
  padding: 8rem 10rem;
  border-radius: 13rem;
}
@media ( max-width:800px ) {
  .section-one .section-one-image {
    width: 40%;
    padding: 0;
    border-radius: 5rem;
    margin-top: 30px;
  }
}
@media ( max-width:400px ) {
  .section-one .section-one-image {
    width: 50%;
    border-radius: 5rem;
  }
}
.section-two {
  background-color: #8ec5fc;
  background-image: linear-gradient(0deg, #8ec5fc 25%, #e9d896 100%);
  padding: 2rem;
  margin-bottom: 3rem;
}
.section-two .boximg {
  width: 60%;
}
.section-two .how {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  color: #213159;
  font-size: 6rem;
  font-family: 'Dancing Script', cursive;
}
.section-two p {
  line-height: 1.4;
  padding-top: 4rem;
  color: #CAA767;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.section-two .boxes {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 2%;
}
@media ( max-width:800px ) {
  .section-two .boxes {
    display: flex;
    flex-direction: column;
  }
}
.section-two .boxes h3 {
  background-color: #213159;
  margin-bottom: 2rem;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 20rem;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
.section-two .boxes .box1,
.section-two .boxes .box2,
.section-two .boxes .box3 {
  width: 20%;
  padding: 5%;
  background-color: white;
  align-items: center;
  color: #213159;
  text-align: center;
  border-radius: 2rem;
}
@media ( max-width:800px ) {
  .section-two .boxes .box1,
  .section-two .boxes .box2,
  .section-two .boxes .box3 {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.section-three {
  background-color: #213159;
  background-image: linear-gradient(90deg, #213159 12%, #8ec5fc 50%, #213159 100%);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
  padding: 4rem;
}
@media ( max-width:800px ) {
  .section-three {
    margin-bottom: 5%;
  }
}
@media ( max-width:400px ) {
  .section-three {
    margin-bottom: 10%;
  }
}
.section-three .started {
  color: #CAA767;
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
.section-three .letsgo {
  padding: 1rem 10rem;
  border: none;
  margin: 1rem 2rem;
  border-radius: 5rem;
  background: #213159;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  color: #CAA767;
}
.section-three .letsgo:hover {
  color: #213159;
  background-color: #CAA767;
  cursor: pointer;
}
@media ( max-width:800px ) {
  .section-three .letsgo {
    padding: 1rem 5rem;
  }
}
@media ( max-width:400px ) {
  .section-three .letsgo {
    margin-left: 0rem;
  }
}
html {
  font-size: 62.5%;
}
.aboutteam {
  background-color: #213159;
  background-image: linear-gradient(180deg, #213159 12%, #8ec5fc 50%, #caa767 100%);
}
.aboutteam .sec-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.aboutteam .sec-one .aboutimg {
  width: 35%;
  padding: 8rem 10rem;
  border-radius: 15rem;
}
@media ( max-width:800px ) {
  .aboutteam .sec-one .aboutimg {
    display: none;
  }
}
.aboutteam .sec-one .meetthe {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: center;
  padding: 4%;
  line-height: 1.5;
  color: white;
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
}
@media ( max-width:800px ) {
  .aboutteam .sec-one .meetthe {
    width: 80%;
  }
}
.aboutteam .sec-one .meet {
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}
.aboutteam .peopleboxes {
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 2%;
}
.aboutteam .peopleboxes p {
  line-height: 1.4;
  padding-top: 2rem;
  color: #8ec5fc;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.aboutteam .peopleboxes .peopleimgs {
  width: 90%;
  border-radius: 10px;
}
.aboutteam .peopleboxes h3 {
  background-color: #213159;
  margin-bottom: 2rem;
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 15rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.aboutteam .peopleboxes h4 {
  color: #CAA767;
  padding: 1rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}
.aboutteam .peopleboxes .JShep,
.aboutteam .peopleboxes .JDess,
.aboutteam .peopleboxes .PresM,
.aboutteam .peopleboxes .ShawnD,
.aboutteam .peopleboxes .KatP,
.aboutteam .peopleboxes .AAnd,
.aboutteam .peopleboxes .TristD,
.aboutteam .peopleboxes .me,
.aboutteam .peopleboxes .ColinB {
  width: 20%;
  padding: 5%;
  margin-bottom: 5%;
  background-color: white;
  align-items: center;
  color: #213159;
  text-align: center;
  border-radius: 2rem;
}
@media ( max-width:800px ) {
  .aboutteam .peopleboxes .JShep,
  .aboutteam .peopleboxes .JDess,
  .aboutteam .peopleboxes .PresM,
  .aboutteam .peopleboxes .ShawnD,
  .aboutteam .peopleboxes .KatP,
  .aboutteam .peopleboxes .AAnd,
  .aboutteam .peopleboxes .TristD,
  .aboutteam .peopleboxes .me,
  .aboutteam .peopleboxes .ColinB {
    width: 80%;
  }
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v11/m8JVjfNVeKWVnh3QMuKkFcZVaUuC.ttf) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v13/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup5.ttf) format('truetype');
}
