html{
    font-size: 62.5%;
}//closes html

#navandheader{
    background-color: #213159;
    background-image: linear-gradient(180deg, #213159 12%, #8ec5fc 50%, #caa767 100%);
    margin-bottom: 2%;

    @media @phone{
        margin-bottom:5%;
    }

    .droomit{
        display:flex;
        flex-wrap:wrap;
        align-items:center;
        justify-content:center;

        h1{
            .fonts(5.5rem, @heading-font);
            text-align:center;
            color:@main-color2;
            margin-bottom:4rem;

            @media @phone{
                width:100%;
            }

        }
        .logoimg{
            width: 30%;
            padding:6rem 6rem;
            border-radius: 13rem;
            @media @phone{
                width:40%;
            }
            
        }

        .letsgo{
            padding: 1rem 10rem;
            border: none;
        // margin: 1rem 2rem;
            border-radius: 5rem;
            background: #213159;
            margin-left:5rem;
        .fonts(3rem, @main-font);
            color: #CAA767;
            margin-left:10rem;
            
            &:hover{
                color:#213159;
                background-color:#CAA767;
                cursor:pointer;
            }//closes hover

            @media @lg-tablet {
                margin-left:4rem;
            }
            @media @tablet{
                padding: 1rem 5rem;
            }
            @media @phone{
                margin-left:10rem;
            }
            @media @sm-phone{
                margin-left:5rem;
                
            }
        }//closes lets go

        .h1andbutton{
            width:40%;
            margin:5rem;
            justify-content:center;

            @media @phone {
                width:100%;
            }
        }
    }
}

.section-one{
    background-color: #8EC5FC;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2%;

    @media @tablet{
        display:flex;
        flex-direction:column;
        margin-bottom: 5%;
    }//closes 800 media

    @media @sm-phone {
        margin-bottom:10%;;
    }//closes 400 media
    .what{
        .fonts(6rem, @heading-font);

        @media @sm-phone {
            font-size:5rem;
        }// closes media 400
    }//closes .what

    .one-text{
        width:40%;
        text-align:center;
        padding:4%;
        line-height:1.5;
        color: #213159;

        .fonts(3rem, @main-font);
        

        @media @tablet{
            width:90%;
            margin:20px;
        }//closes media 800
        
        @media @phone{
            margin:0px;
        }

        @media @sm-phone{
            font-size:3rem;
            padding:0px;
           
        }//closes 400
    }//closes one-text


    .section-one-image{
        width: 30%;
        order: -1;
        padding:8rem 10rem;
        border-radius: 13rem;
        
        @media @tablet {
            width:40%;
            padding:0;
            border-radius: 5rem;
            margin-top:30px;
        } //closes media 800

        @media @sm-phone{
            width:50%;
            border-radius: 5rem;
        } // closes media 400
    } // closes section-one image

}

.section-two {
    background-color: #8ec5fc;
    background-image: linear-gradient(0deg, #8ec5fc 25%, #e9d896 100%);
    padding: 2rem;
    margin-bottom: 3rem;
    
    .boximg{
        width:60%;
    } // closes boximg

    .how {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 2%;
        color: #213159;
        .fonts(6rem, @heading-font);
    } // closes .how

    p {
        line-height: 1.4;
        padding-top: 4rem;
        color: #CAA767;
        .fonts(3rem, @main-font);
    } // closes p

    .boxes {
        display: flex;
        width: 90%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        //font-size: 2rem;
        margin-bottom: 2%;

        @media @tablet{
            display:flex;
            flex-direction:column;
            
        } //closes media 800

        h3 {
            background-color: #213159;
            margin-bottom: 2rem;
            color: white;
            padding: 1rem;
            text-align: center;
            border-radius: 20rem;
            .fonts(5rem, @heading-font);
        } // closes h3
   
        .box1, .box2, .box3{
            width: 20%;
            padding: 5%;
            background-color: white;
            align-items: center;
            color: #213159;
            text-align: center;
            border-radius: 2rem;

            @media @tablet{
                width:90%;
                margin-top:20px;
                margin-bottom:20px;
            } // closes media 800

        } // closes .box1 .box2 .box3
    }// closes boxes
}//closes section 2


.section-three{
    background-color: #213159;
    background-image: linear-gradient(90deg, #213159 12%, #8ec5fc 50%, #213159 100%);

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2%;
    padding: 4rem;

    @media @tablet{
        margin-bottom:5%;
    } //closes media 800
    @media @sm-phone{
        margin-bottom:10%;
    }   //closes media 400

    .started{
        color: @main-color2;
        .fonts(5rem, @heading-font);
    } //closes started

    .letsgo{
        padding: 1rem 10rem;
        border: none;
        margin: 1rem 2rem;
        border-radius: 5rem;
        background: #213159;
       .fonts(3rem, @main-font);
        color: #CAA767;
        
        &:hover{
            color:#213159;
            background-color:#CAA767;
            cursor:pointer;
        }//closes hover

        @media @tablet{
            padding: 1rem 5rem;
        }
        @media @sm-phone{
            margin-left:0rem;     
        } 
        
    }//closes lets go
}//closes section three



