// Call to action
.cta {
    .flex(center, center);

    .container {
        .flex(space-around, center);
        padding: 4% 0;

        @media @tablet {
            flex-direction: column-reverse;
        }

        .text {
            text-align: center;

            @media @large-tablet {
                padding: 0 4%;
            }

            .slogan {
                display: inline;
                font-size: 4.5rem;

                @media @phone {
                    width: 100%;
                    font-size: 3rem;
                }
            }

            h1 {
                display: inline;
                padding: 0 7px;

                @media @phone {
                    font-size: 4rem;
                }
            }

            .sub-slogan {
                padding: 4% 0;
                margin-bottom: 6%;
                font-size: 2.5rem;

                @media @phone {
                    font-size: 2rem;
                }
            }

            .sign-up {
                margin: 0 auto;
                background-color: @dark-blue;
                color: @gold;
                width: 75%;
                border-radius: 20px;
                padding: 2%;
                transition: all .2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }

                p {
                    font-size: 2.5rem;
                }
            }
        }

        img {
            height: 500px;

            @media @tablet {
                height: 400px;
            }

            @media @phone {
                height: 300px;
            }
        }
    }
}

// How it works section
.how {
    @media @tablet {
        margin-top: 4%;
    }

    h2 {
        background-color: @dark-blue;
        text-align: center;
        padding: 2% 0;

        @media @tablet {
            padding: 3% 0;
        }
    }

    .how-one {
        background-color: #C47846;
    }

    .how-two {
        background-color: #A6A462;

        .how-content {
            flex-direction: row-reverse;
        }
    }

    .how-three {
        background-color: #B8CCC7;
    }

    .how-div {
        .flex(center, center);
        margin: 3% 0;
        padding: 2% 0;

        @media @phone {
            margin: 6% 0;
            padding: 4% 0;
        }

        .how-content {
            .flex(space-between, center);

            @media @phone {
                flex-direction: column-reverse;
            }

            p {
                width: 50%;
                font-size: 2.2rem;
                text-align: center;

                @media @tablet {
                    width: 100%;
                    padding: 3% 0;
                }
            }

            img {
                height: 400px;
            }
        }
    }
}

// Middle section 2