.fonts(@fontSize, @fontFamily){
    font-size:@fontSize;
    font-family:@fontFamily;
}

//Escapings
@tablet: ~"( max-width:800px )";
@lg-tablet: ~"( max-width:1000px )";
@phone: ~"( max-width: 500px )";
@sm-phone: ~"( max-width:400px )";