nav {
    .flex(center, center);
    background-color: @dark-blue;

    .container {
        .flex(space-between, center);
        padding: 1.5% 0;

        @media @phone {
            flex-direction: column;
        }

        h2 {
            color: @gold;
        }

        .links {
            .flex(space-between, center);
            width: 35%;

            @media @phone {
                margin-top: 4%;
                margin-bottom: 1%;
                width: 100%;
            }

            a {
                text-decoration: none;
                color: @gold;
                font-size: 2rem;
            }
        }
    }
}